<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="angular.min.js"></script>
    <script src="client.js"></script>
    <title>Document</title>
</head>
<body ng-app="myApp">
    <div ng-controller="GuessWhoController as guess">
            name<input type="text" ng-model="guess1" id="idkOne">
            <button ng-click="guess.anotherTest()">submit</button>
            github<input type="text" ng-model="guess2" id = "idkTwo">
            <button ng-click="guess.anotherTest()">submit</button>
        <p>Guess who? I guess.</p>
        <p>{{guess.message}}</p>
        <ul>
        
            <li ng-repeat="person in guess.people">
            
                <img ng-show="person.show" ng-src="https://github.com/{{person.github}}.png?size=200">
                <button ng-click="guess.test(person.name)">guess</button>
            </li>
        </ul>
    </div>

</body>
</html>
